<%- include("../partials/header") %>

<br>
<div class="text-center w-50 mx-auto">
    <h1>Display Controller</h1>
    <br>
    <form class="align-items-center" method="POST" action="/">
        <div class="row g-3">
            <div class="col-auto">
                <label for="color" class="col-form-label">Color:</label>
            </div>
            <div class="col-auto">
                <input type="color" id="color" name="color" class="form-control form-control-color" value="<%- display.hexColor %>">
            </div>
        </div>
        <div class="row g-3">
            <div class="col-auto">
                <label for="message" class="col-form-label">Message:</label>
            </div>
            <div class="col-auto">
                <input type="text" id="message" name="message" class="form-control" value="<%- display.message %>">
            </div>
        </div>
        <div class="row g-3">
            <div class="col-auto">
                <label for="brightness" class="col-form-label">Brightness:</label>
            </div>
            <div class="col-auto">
                <input type="text" id="brightness" name="brightness" class="form-control" value="<%- display.brightness %>">
            </div>
        </div>
        <div class="row g-3">
            <div class="col-auto">
                <label for="speed" class="col-form-label">Speed:</label>
            </div>
            <div class="col-auto">
                <input type="text" id="speed" name="speed" class="form-control" value="<%- display.speed %>">
            </div>
        </div>
        <br>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Update</button>
        </div>
    </form>
</div>
<%- include("../partials/footer") %>