<%- include("../partials/header") %>

<br>
<div class="text-center w-50 mx-auto">
    <h1>Display Controller</h1>
    <br>
    <p>Choose your input in the navbar.</p>
    <br>
    <div class="text-danger text-center"><%- flash.error %></div>
    <div class="text-success text-center"><%- flash.success %></div>
    <div class="text-info text-center"><%- flash.info %></div>
</div>
<%- include("../partials/footer") %>